contextily==1.1.0
fastdtw==0.3.4
folium==0.12.1
joblib==1.0.0
matplotlib==3.3.3
numpy==1.19.0
pandas==1.3.4
prettytable==2.1.0
pyproj==3.0.0.post1
scipy==1.4.1
--find-links https://download.pytorch.org/whl/torch_stable.html
torch==1.10.0+cu113
tqdm==4.56.0
